.home{
    width: 100%;
    min-height: 100%;
    background: url('https://motionarray.imgix.net/preview-585264-X6ESSkHPwr-high_0000.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-top-components{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}