.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 90%;
    height: 90%;
    max-width: 400px;
    background: #2a2b2cf7;
    box-shadow: 0 0 5px 0 #007bff;
    border-radius: 10px;
    gap: 30px;
}

.login-title{
    color: #fff;
    text-align: center;
    height: 15%;
    line-height: normal;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-name{
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.login-input{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    background: #fff7;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
    transition: all .5s;
}

.login-input:focus{
    border-bottom: 3px solid #007bff;
}

.btn{
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.to-register-line, .to-recover-password-line{
    color: #fff;
    text-align: center;
}

.to-register{
    color: #007bff;
}