.team-avg-stats{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000c;
    border-radius: 10px;
    box-shadow: 0 0 5px #007bff;
}

.height-name, .weight-name{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.height-value, .weight-value{
    color: #fff;
    text-align: center;
}

